.media-thumbnail {
  display: block;
  width: var(--thumbnail-width);
  height: var(--thumbnail-height);
  background-color: black;
  contain: strict;
  overflow: hidden;
  box-sizing: border-box;
  /* Applies when scaling thumbnails up. */
  min-width: 120px;
  min-height: 80px;
  /* Applies when scaling thumbnails down. */
  max-width: 180px;
  max-height: 160px;
  border: 1px solid white;
}

.media-thumbnail img {
  will-change: width, height, transform;
}

.media-thumbnail[data-loading] {
}

.media-thumbnail[data-hidden] {
  display: none;
}
