.vds-thumbnail {
  /* CSS variables available for customization (defaults shown). */
  --media-thumbnail-bg: black;
  --media-thumbnail-border: 1px solid white;
  --media-thumbnail-aspect-ratio: 16 / 9;
  /* Applies when scaling thumbnails up. */
  --media-thumbnail-min-width: 120px;
  --media-thumbnail-min-height: calc(var(--media-thumbnail-min-width) / var(--aspect-ratio));
  /* Applies when scaling thumbnails down. */
  --media-thumbnail-max-width: 180px;
  --media-thumbnail-max-height: calc(var(--media-thumbnail-max-width) / var(--aspect-ratio));
}

/* Customize image element. */
.vds-thumbnail img {
}
