---
import clsx from 'clsx';

import { kebabToTitleCase } from '../../../utils/string';
import IconsDialogManager from './icons-dialog-manager.svelte';
import IconsSearchManager from './icons-search-manager.svelte';
import { loadIcons } from './loader';

interface Props {
  label: string;
  compact?: boolean;
}

const { label, compact } = Astro.props;

const icons = await loadIcons();
---

<IconsDialogManager client:load>
  <IconsSearchManager client:load>
    <section
      class={clsx(
        'icons-grid grid gap-4 grid-cols-[repeat(auto-fill,minmax(10rem,1fr))]',
        compact ? '768:gap-6' : '768:gap-10',
      )}
      aria-label={label}
    >
      {
        Object.keys(icons).map((icon) => (
          <button
            class={clsx(
              'group flex cursor-pointer flex-col items-center justify-center rounded-sm p-2',
            )}
            aria-haspopup="dialog"
            aria-expanded="false"
            aria-label={kebabToTitleCase(icon) + ' Icon'}
            data-icon={icon}
            style="border: 0; box-shadow: none;"
          >
            <div
              class={clsx(
                'flex w-full flex-col items-center justify-center border border-border/80 text-soft/90 hocus:text-inverse',
                'shadow-sm group-hocus:border-2 group-hocus:border-brand/40 group-hocus:bg-elevate',
                'h-[120px] rounded-md transition-colors duration-150',
              )}
            >
              <svg
                role="img"
                width="32"
                height="32"
                viewBox="0 0 32 32"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                aria-hidden="true"
                set:html={icons[icon]}
              />
            </div>
            <div
              class="mt-4 w-full text-center text-sm text-soft/90 opacity-0 group-hocus:text-inverse"
              data-icon-name
            >
              X
            </div>
          </button>
        ))
      }
    </section>
  </IconsSearchManager>
</IconsDialogManager>
