.light,
.prefers-light-scheme,
.dark .bg-inverse {
  --color-brand: 230 123 40;
  --color-secondary: 216 35 117;
  --color-soft: 82 88 97;
  --color-body: 240 240 240;
  --color-elevate: 255 255 255;
  --color-inverse: 5 11 23;
  --color-border: 219 219 219;
  --color-code-tag: 0 92 197;
  --color-code-fn: 111 66 193;
  --color-focus: 230 123 40;
}

:root {
  font-size: 16px;
  scroll-padding-top: 4rem;

  --font-fallback: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';

  --font-inter: Inter VF, var(--font-fallback);
  --font-cal: Cal Sans, var(--font-fallback);
  --font-family-sans: var(--font-inter);
  --font-family-mono: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation, Mono,
    monospace;
}

body {
  --article-max-width: 80ch;

  --navbar-height: 4rem;
  --navbar-top: var(--announcement-bar-height, 0px);
  --sidebar-width: 240px;

  --content-top: calc(
    calc(var(--announcement-bar-height, 0px) + var(--navbar-height, 0px)) +
      var(--breadcrumb-bar-height, 0px)
  );
  --content-height: calc(100vh - var(--content-top));
  --content-height: calc(100dvh - var(--content-top));
  --content-max-width: 1440px;

  --breadcrumb-bar-top: calc(var(--navbar-height, 0px) + var(--announcement-bar-height, 0px));
}

body[data-announcement-bar] {
  --announcement-bar-height: 2.75rem;
}

body[data-scrolled] {
  --announcement-bar-height: 0px;
}

body[data-breadcrumb-bar] {
  --breadcrumb-bar-height: 3rem;
}

@media screen and (min-width: 825px) {
  body[data-breadcrumb-bar] {
    --breadcrumb-bar-height: 0px;
  }
}

.dark,
.prefers-dark-scheme,
.light .bg-inverse {
  color-scheme: dark;
  --color-brand: 249 112 11;
  --color-secondary: 244 114 182;
  --color-soft: 150 155 166;
  --color-inverse: 245 245 245;
  --color-border: 44 44 44;
  --color-elevate: 16 16 16;
  --color-body: 5 5 5;
  --color-code-tag: 121 184 255;
  --color-code-fn: 179 146 240;
  --color-focus: 230 123 40;
}

:root {
  --next-gradient-start: #da5100;
  --next-gradient-end: #d43b87;
  --manage-gradient-start: #f70048;
  --manage-gradient-end: #f40095;
  --player-gradient-start: #5264e2;
  --player-gradient-end: #009bbd;
  --ship-gradient-start: #9a4bbc;
  --ship-gradient-end: #8639f9;
  --default-gradient-start: #222222;
  --default-gradient-end: #484848;
  --oss-gradient-start: #00b746;
  --oss-gradient-end: #00abbb;
  --community-gradient-start: #6d00be;
  --community-gradient-end: #b600bf;
  --form-success-gradient-start: #00b746;
  --form-success-gradient-end: #00abbb;
  --form-error-gradient-start: #e77400;
  --form-error-gradient-end: #c55400;
  --form-neutral-gradient-start: #4f46e5;
  --form-neutral-gradient-end: #7a3ce0;
  --js-red-gradient-start: #f22b32;
  --js-red-gradient-end: #d6356e;
  --js-blue-gradient-start: #4b7fe2;
  --js-blue-gradient-end: #00d7ff;
  --js-green-gradient-start: #00b746;
  --js-green-gradient-end: #00abbb;
  --js-yellow-gradient-start: #c6b000;
  --js-yellow-gradient-end: #e2aa23;
  --js-orange-gradient-start: #e87833;
  --js-orange-gradient-end: #d7333c;
  --js-cyan-gradient-start: #00d7ff;
  --js-cyan-gradient-end: #0090b8;
  --js-purple-gradient-start: #c100ec;
  --js-purple-gradient-end: #a844bf;
  --js-pink-gradient-start: #ff00dc;
  --js-pink-gradient-end: #a33a82;
  --js-nuxt-gradient-start: #05a965;
  --js-nuxt-gradient-end: #00dc82;
}

.dark,
.prefers-dark-scheme {
  --next-gradient-start: #f9700b;
  --next-gradient-end: #ed4b9b;
  --player-gradient-start: #5264e2;
  --player-gradient-end: #00d7ff;
  --default-gradient-start: #ffffff;
  --default-gradient-end: #9e9e9e;
  --js-blue-gradient-start: #4c75e1;
  --js-blue-gradient-end: #009bbd;
}

@media (color-gamut: p3) {
  @supports (color: oklch(0% 0 0)) {
    :root {
      --next-gradient-start: oklch(0.61 0.19 44.84);
      --next-gradient-end: oklch(0.6 0.2 354.46);
      --manage-gradient-start: oklch(0.6 0.27 15.16);
      --manage-gradient-end: oklch(0.62 0.28 352.63);
      --player-gradient-start: oklch(0.56 0.19 272.49);
      --player-gradient-end: oklch(0.81 0.15 217.11);
      --ship-gradient-start: oklch(0.56 0.18 314.7);
      --ship-gradient-end: oklch(0.56 0.26 294.47);
      --default-gradient-start: oklch(0.25 0 0);
      --default-gradient-end: oklch(0.4 0 0);
      --oss-gradient-start: oklch(0.66 0.23 153.66);
      --oss-gradient-end: oklch(0.66 0.15 203.58);
      --community-gradient-start: oklch(0.44 0.24 300.79);
      --community-gradient-end: oklch(0.54 0.27 325.91);
      --form-success-gradient-start: oklch(0.66 0.23 153.66);
      --form-success-gradient-end: oklch(0.66 0.15 203.58);
      --form-error-gradient-start: oklch(0.68 0.18 57.17);
      --form-error-gradient-end: oklch(0.58 0.17 51.15);
      --form-neutral-gradient-start: oklch(0.51 0.23 276.97);
      --form-neutral-gradient-end: oklch(0.53 0.23 294.27);
      --js-red-gradient-start: oklch(0.62 0.23 25.86);
      --js-red-gradient-end: oklch(0.59 0.2 4.49);
      --js-blue-gradient-start: oklch(0.61 0.16 262.01);
      --js-blue-gradient-end: oklch(0.81 0.15 217.11);
      --js-green-gradient-start: oklch(0.66 0.23 153.66);
      --js-green-gradient-end: oklch(0.66 0.15 203.58);
      --js-yellow-gradient-start: oklch(0.75 0.18 101.59);
      --js-yellow-gradient-end: oklch(0.77 0.15 83.2);
      --js-orange-gradient-start: oklch(0.69 0.16 48.76);
      --js-orange-gradient-end: oklch(0.58 0.2 23.58);
      --js-cyan-gradient-start: oklch(0.81 0.15 217.11);
      --js-cyan-gradient-end: oklch(0.6 0.13 222.62);
      --js-purple-gradient-start: oklch(0.59 0.3 317.97);
      --js-purple-gradient-end: oklch(0.57 0.2 319.61);
      --js-pink-gradient-start: oklch(0.7 0.32 339.57);
      --js-pink-gradient-end: oklch(0.52 0.16 342);
      --js-nuxt-gradient-start: oklch(0.65 0.16 156.28);
      --js-nuxt-gradient-end: oklch(0.79 0.19 155.62);
    }

    .dark,
    .prefers-dark-scheme {
      --next-gradient-start: oklch(0.7 0.19 47.31);
      --next-gradient-end: oklch(0.66 0.21 353.93);
      --player-gradient-start: oklch(0.56 0.19 272.49);
      --player-gradient-end: oklch(0.63 0.13 217.76);
      --default-gradient-start: oklch(1 0 0);
      --default-gradient-end: oklch(0.7 0 0);
      --js-blue-gradient-start: oklch(0.59 0.17 265.72);
      --js-blue-gradient-end: oklch(0.63 0.13 217.76);
    }
  }
}

.js-focus-visible :focus:not([data-focus-visible-added]):not([data-focus]) {
  @apply outline-none;
}

* {
  -webkit-tap-highlight-color: transparent;
}

.bg-inverse {
  color: white;
  background-color: rgb(5 11 23) !important;
}

.dark .bg-inverse {
  color: black;
  background-color: rgb(245 245 245) !important;
}

.font-semibold,
.font-bold {
  font-family: var(--font-cal);
}

.shiki,
.astro-code {
  display: inline-flex !important;
  background-color: unset !important;
}

html.dark .shiki,
html.dark .shiki span,
html.dark .astro-code,
html.dark .astro-code span {
  color: var(--shiki-dark) !important;
  background-color: unset !important;
}

::selection {
  color: rgb(var(--color-brand));
  background: rgb(var(--color-brand) / 0.1);
}
