.docs .category {
  @apply mt-0 font-semibold;
}

.docs .category + h1 {
  @apply -mt-3;
}

.docs .category + h1 + p {
  @apply mb-1;
}

.docs .category + h1 + p + p {
  @apply mt-10;
}

.DocSearch-Button-Key {
  @apply !ring-0;
}

.api-table tbody tr td:first-child > code,
.api-table tbody tr td:first-child > div > code {
  background-color: unset;
}

.docs .code-block {
  margin-block: 2rem;
}

.docs .code-editor {
  margin-block: 3.5rem;
}

.docs .code-editor .code-block {
  margin-block: 0;
}

.docs .code-display,
.docs .code-display code {
  @apply w-full min-w-[fit-content];
}

.docs .code-display .line {
  @apply inline-block w-full;
}

.docs .code-display .line.highlighted {
  @apply rounded-[1px] bg-soft/[12%];
}

.github-light,
.github-dark {
  background-color: unset !important;
}

.github-light code,
.github-dark code {
  padding: 0 !important;
  border: unset !important;
  background-color: unset !important;
}

.dark .github-light {
  display: none;
}

.light .github-dark {
  display: none;
}

#main-sidebar > div,
#table-of-contents > ul {
  --scrollbar-thumb-bg: none;
  --scrollbar-track-bg: none;
}

#main-sidebar:hover > div,
#table-of-contents:hover > ul {
  --scrollbar-thumb-bg: rgb(var(--color-border));
}

#main-sidebar .categories + a {
  margin-top: 1.5rem;
}
