.vds-buffering-indicator {
  /* CSS variables available for customization (defaults shown). */
  --media-buffering-size: 96px;
  --media-buffering-transition: opacity 200ms ease;
  --media-buffering-track-color: #f5f5f5;
  --media-buffering-track-opacity: 0.25;
  --media-buffering-track-width: 8;
  --media-buffering-track-fill-color: var(--media-brand);
  --media-buffering-track-fill-opacity: 0.75;
  --media-buffering-track-fill-width: 9;
  --media-buffering-track-fill-offset: 50;
  --media-buffering-animation: media-buffering-spin 1s linear infinite;
}
