.media-radio-group {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.media-radio {
  align-items: center;
  appearance: none;
  font-size: 14px;
  border-radius: 2px;
  contain: content;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  padding: 12px;
  position: relative;
  width: 100%;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.media-radio[data-focus] {
  background-color: rgb(245 245 245 / 0.08);
}

@media (hover: hover) and (pointer: fine) {
  .media-radio:hover {
    cursor: pointer;
    background-color: rgb(245 245 245 / 0.08);
  }
}

.media-radio {
  /* icon size + radio padding. */
  padding-left: 18px + 12px;
}

.media-radio[data-checked] {
  padding-left: 0;
}

.media-radio-icon {
  width: 18px;
  height: 18px;
  margin-right: 8px;
}

.media-radio[data-checked] .media-radio-icon {
  display: inline-block;
  margin-left: 6px;
}

.media-radio-hint {
  color: rgb(168, 169, 171);
  font-size: 13px;
  margin-left: auto;
}
