---
import clsx from 'clsx';

import ArrowDownUpIcon from '~astro-icons/lucide/arrow-down-up';
import BookOpenIcon from '~astro-icons/lucide/book-open';
import FileVideoIcon from '~astro-icons/lucide/file-video-2';
import GlobeIcon from '~astro-icons/lucide/globe';
import HelpCircleIcon from '~astro-icons/lucide/help-circle';
import KeyIcon from '~astro-icons/lucide/key-round';
import MoreHorizontalIcon from '~astro-icons/lucide/more-horizontal';
import SettingsIcon from '~astro-icons/lucide/settings';

const sidebar = [
  { title: 'Media', Icon: FileVideoIcon, active: true },
  { title: 'Domains', Icon: GlobeIcon },
  { title: 'API Keys', Icon: KeyIcon },
  { title: 'Webhooks', Icon: ArrowDownUpIcon },
  { title: 'Settings', Icon: SettingsIcon },
];
---

<div
  class="flex h-full max-w-[48px] flex-1 flex-col items-start border-r border-border/90 px-2 py-2.5 pb-4 @xl:max-w-[132px]"
>
  {
    sidebar.map(({ title, Icon, active }) => {
      return (
        <div
          class={clsx(
            'mt-1.5 flex w-full items-center rounded-sm px-1.5 py-1.5',
            active ? 'bg-inverse/10 text-inverse' : 'text-soft',
          )}
        >
          <Icon class="h-5 w-5 @xl:h-4 @xl:w-4" />
          <span class="ml-1.5 hidden text-xs @xl:inline-block">{title}</span>
        </div>
      );
    })
  }

  <div class="flex-1"></div>

  <div class="mb-4 ml-0.5 flex w-full flex-col items-center space-y-2.5 @xl:items-start @xl:px-0">
    <div class="flex items-center text-[10px] text-soft">
      <BookOpenIcon class="mr-1 h-5 w-5 @xl:h-3 @xl:w-3" />
      <span class="hidden @xl:inline-block">Docs</span>
    </div>
    <div class="flex items-center text-[10px] text-soft">
      <HelpCircleIcon class="mr-1 h-5 w-5 @xl:h-3 @xl:w-3" />
      <span class="hidden @xl:inline-block">Support</span>
    </div>
  </div>

  <div class="flex w-full items-center justify-center">
    <img
      class="h-6 w-6 rounded-full"
      src="https://api.dicebear.com/6.x/thumbs/svg?seed=Charlie"
      decoding="async"
      loading="lazy"
      aria-hidden="true"
    />
    <div class="ml-1 hidden w-full flex-col items-center @xl:flex @xl:items-start">
      <span class="text-[10px] text-inverse">Charlie's Site</span>
      <span class="-mt-0.5 text-[9px] text-soft">casts.gg</span>
    </div>
    <MoreHorizontalIcon class="ml-2 hidden h-6 w-6 @xl:flex" />
  </div>
</div>
