---
import clsx from 'clsx';

import ActivitySquareIcon from '~astro-icons/lucide/activity-square';
import ArchiveIcon from '~astro-icons/lucide/archive';
import CalendarIcon from '~astro-icons/lucide/calendar-days';
import ChevronDownIcon from '~astro-icons/lucide/chevron-down';
import FilterIcon from '~astro-icons/lucide/filter';
import GridIcon from '~astro-icons/lucide/layout-grid';
import ListIcon from '~astro-icons/lucide/list';
import PlusIcon from '~astro-icons/lucide/plus';
import SearchIcon from '~astro-icons/lucide/search';
import SettingsTwoIcon from '~astro-icons/lucide/settings-2';
import XIcon from '~astro-icons/lucide/x';

import ReactIcon from '../../../icons/logos/react-logo.svelte';
import Menu from '../../menu.svelte';

const filterMenuItems = [
  { title: 'Progress', Icon: ActivitySquareIcon },
  { title: 'Uploaded Date', Icon: CalendarIcon },
  { title: 'Archived Videos', Icon: ArchiveIcon },
  { title: 'Advanced Filter', Icon: FilterIcon },
];
---

<div class="flex w-full items-center">
  <div
    class={clsx(
      'items-center px-1.5 py-0.5 text-inverse border border-inverse/10',
      'bg-inverse/10 text-[10px] rounded-sm mr-2 shadow-sm hidden @sm:flex',
    )}
  >
    <ReactIcon class="mr-1 h-2.5 w-2.5" />
    React Course
    <XIcon class="ml-0.5 h-2.5 w-2.5" />
  </div>
  <Menu
    class={clsx(
      'border-dashed border border-border/90 pl-1 pr-1.5 py-px font-medium',
      'text-inverse text-[10px] flex items-center rounded-sm shadow-sm',
      'hocus:text-brand hocus:border-brand cursor-pointer relative',
    )}
    placement="bottom-end"
    client:visible
  >
    <Fragment slot="trigger">
      <PlusIcon class="mr-0.5 h-2.5 w-2.5" />
      Filter
    </Fragment>
    <Fragment slot="content">
      <div class="flex min-w-[80px] flex-col">
        <div class="flex flex-row items-center text-soft">
          <span class="text-[10px]">Filter...</span>
          <div class="flex-1"></div>
          <div class="bg-inverse/10 px-1.5 font-mono text-[9px]">F</div>
        </div>
        <div class="mt-3 flex flex-col space-y-2.5">
          {
            filterMenuItems.map(({ title, Icon }) => (
              <div class="flex w-full items-center text-[10px] font-normal text-soft">
                <Icon class="mr-1.5 h-3 w-3" />
                {title}
              </div>
            ))
          }
        </div>
      </div>
    </Fragment>
  </Menu>

  <div class="flex flex-1 justify-end @2xl:hidden">
    <SearchIcon class="mr-3 h-4 w-4 text-soft" />
  </div>

  <div class="hidden flex-1 @2xl:inline-block">
    <div
      class={clsx(
        'w-full max-w-[200px] mx-auto border border-border/90 text-[10px] rounded-sm',
        'shadow-sm text-soft px-2 py-1 flex items-center',
      )}
    >
      <SearchIcon class="mr-1 h-2.5 w-2.5" />
      Search
      <div class="flex-1"></div>
      <div class="flex items-center font-mono">
        <span class="text-xs">⌘</span>
        <span class="ml-0.5 text-[9px]">K</span>
      </div>
    </div>
  </div>

  <div
    class={clsx(
      'flex items-center justify-center bg-inverse/10 rounded-sm overflow-hidden mr-2',
      'shadow-sm border border-inverse/10',
    )}
  >
    <div class="px-1 py-0.5 text-soft">
      <ListIcon class="h-3.5 w-3.5" />
    </div>
    <div class="bg-inverse/10 px-1 py-0.5 text-inverse">
      <GridIcon class="h-3.5 w-3.5" />
    </div>
  </div>

  <div
    class={clsx(
      'flex items-center px-1 py-0.5 bg-inverse/10 rounded-sm shadow-sm',
      'border border-inverse/10 text-soft',
    )}
  >
    <SettingsTwoIcon class="h-3 w-3" />
    <span class="ml-1 mr-0.5 hidden text-[10px] font-medium @xl:inline-block">View</span>
    <ChevronDownIcon class="h-3 w-3" />
  </div>
</div>
