.media-player {
  /* Player CSS variables (defaults shown). */
  --media-font-family: sans-serif;
  --media-focus-ring: 0 0 0 3px rgb(78 156 246);
}

.vds-live-button {
  /* CSS variables available for customization (defaults shown). */
  --media-live-button-width: 40px;
  --media-live-button-height: 40px;
  --media-live-button-bg: #8a8a8a;
  --media-live-button-border-radius: 2px;
  --media-live-button-color: #161616;
  --media-font-family: sans-serif;
  --media-live-button-font-size: 12px;
  --media-live-button-font-weight: 600;
  --media-live-button-letter-spacing: 1.5px;
  --media-live-button-padding: 1px 4px;
  --media-live-button-edge-bg: #dc2626;
  --media-live-button-edge-color: #f5f5f5;
}
