---
import clsx from 'clsx';

import AnimatedBookIcon from '~/icons/animated/animated-book-icon.svelte';
import AnimatedHeartHandshakeIcon from '~/icons/animated/animated-heart-handshake-icon.svelte';
import AnimatedPackageIcon from '~/icons/animated/animated-package-icon.svelte';
import NextIcon from '~/icons/logos/next-logo.svelte';
import NuxtIcon from '~/icons/logos/nuxt-logo.svelte';
import ReactIcon from '~/icons/logos/react-logo.svelte';
import SvelteIcon from '~/icons/logos/svelte-logo.svelte';
import TailwindIcon from '~/icons/logos/tailwind-logo.svelte';
import VueIcon from '~/icons/logos/vue-logo.svelte';
import TerminalIcon from '~astro-icons/lucide/terminal';

import LazyMediaPlayer from '~/components/players/lazy-media-player.svelte';

import Button from '../components/button.svelte';
import CodeSnippet from '../components/code-snippet/code-snippet.astro';
import GradientBorder from '../components/gradient-border.svelte';
import { openSourceProjects } from '../components/pages/home/oss-projects';
import FeatureSection from '../components/sections/feature-section.astro';
import GridContent from '../components/sections/grid-content.astro';
import HeroSection from '../components/sections/hero-section.astro';
import TypeWriter from '../components/style/type-writer.svelte';
import TextGradient from '../components/text-gradient.svelte';
import DefaultLayout from '../layouts/default-layout.astro';
import AnnouncementBar from '../layouts/parts/announcement-bar.astro';
import SocialLink from '../layouts/parts/social-link.astro';

export const prerender = true;

const title = 'Vidstack: Open-source video platform.',
  description = 'Vidstack is an open-source platform that helps you manage, build, and ship video.';
---

<DefaultLayout {title} {description}>
  <AnnouncementBar href="https://github.com/vidstack/player/discussions/1220" slot="announcement">
    <span class="font-semibold">Player:</span> 1.0-RC!
  </AnnouncementBar>

  <HeroSection>
    <Fragment slot="title">
      Build your <TextGradient>player.</TextGradient>
    </Fragment>

    <p slot="description">
      UI components and hooks for building media players on the web. Robust, customizable, and
      accessible.
    </p>

    <Fragment slot="cta">
      <Button arrow href="/docs/player" primary>Get Started</Button>
      <Button arrow href="/docs/player" gradient>Components</Button>
    </Fragment>

    <Fragment slot="frameworks">
      <a
        class="rounded-md text-soft transition hocus:scale-105 hocus:text-[#00D8FF]"
        href="https://react.dev"
        aria-label="React"
        target="_blank"
      >
        <ReactIcon class="h-9 w-9" />
      </a>

      <a
        class="rounded-md text-soft transition hocus:scale-105 hocus:text-[#06B6D4]"
        href="https://tailwindcss.com"
        aria-label="Tailwind CSS"
        target="_blank"
      >
        <TailwindIcon class="h-11 w-11" />
      </a>

      <a
        class="rounded-md text-soft transition hocus:scale-105 hocus:text-inverse"
        href="https://nextjs.org"
        aria-label="Next.js"
        target="_blank"
      >
        <NextIcon class="h-9 w-9" />
      </a>

      <a
        class="rounded-md text-soft transition hocus:scale-105 hocus:text-green-500"
        href="https://vuejs.org/"
        aria-label="Vue"
        target="_blank"
      >
        <VueIcon class="h-8 w-8" />
      </a>

      <a
        class="rounded-md text-soft transition hocus:scale-105 hocus:text-lime-500"
        href="https://nuxt.com"
        aria-label="Nuxt"
        target="_blank"
      >
        <NuxtIcon class="h-11 w-11" />
      </a>

      <a
        class="rounded-md text-soft transition hocus:scale-105 hocus:text-red-500"
        href="https://svelte.dev"
        aria-label="Svelte"
        target="_blank"
      >
        <SvelteIcon class="h-8 w-8" />
      </a>
    </Fragment>
  </HeroSection>

  <FeatureSection title="Layouts." subtitle="Built to ship." align="center">
    <AnimatedPackageIcon class="h-full w-full" delay={3000} client:visible slot="icon" />

    <p slot="description">Robust, customizable, and accessible layouts so you can ship fast.</p>

    <div class="relative" slot="cta">
      <GradientBorder class="rounded-full" />
      <div
        class={clsx(
          'w-[240px] h-[38px] z-10 bg-body flex items-center rounded-full relative',
          'bg-clip-padding border-2 border-transparent font-medium font-mono text-sm',
        )}
      >
        <TerminalIcon
          class="absolute left-[18px] top-2.5 h-4 w-4 text-[var(--from-color)] dark:text-[var(--to-color)]"
        />
        <div class="translate-x-10">
          <TypeWriter text="npm i @vidstack/react" speed={50} delay={1200} caret client:visible />
        </div>
      </div>
      <div class="absolute left-0.5 top-0.5 h-[40px] w-[242px] rounded-full bg-brand/10"></div>
    </div>

    <div class="flex w-full items-center justify-center" slot="content">
      <CodeSnippet id="home/default-layout" class="w-full max-w-3xl" numbered />
    </div>
  </FeatureSection>

  <FeatureSection title="Open Source." subtitle="Built transparently." align="center">
    <AnimatedBookIcon class="h-full w-full" delay={1000} client:visible slot="icon" />

    <p slot="description">
      Our entire journey is rooted in open-source and you can find all of our work on GitHub. If you
      like what we're doing, remember to follow and give us a star!
    </p>

    <Button arrow href="https://github.com/vidstack" gradient target="_blank" slot="cta">
      Follow on GitHub
    </Button>

    <GridContent label="Open-Source Projects" content={openSourceProjects} slot="content" />
  </FeatureSection>

  <FeatureSection title="Community." subtitle="Built for us." align="center">
    <AnimatedHeartHandshakeIcon class="h-full w-full" delay={2000} client:visible slot="icon" />

    <p slot="description">
      We're a community of frontend devs working with video & audio. Join in on the discussions,
      share your designs and knowledge, ask for help, and connect with others building awesome
      experiences.
    </p>

    <div class="flex w-full items-center justify-center" slot="cta">
      <SocialLink class="mr-4 768:mr-8" type="twitter" iconSize={40} />
      <SocialLink class="mr-4 768:mr-8" type="discord" iconSize={40} />
      <SocialLink type="gitHub" iconSize={40} />
    </div>
  </FeatureSection>
</DefaultLayout>
