---
import IconsSection from '~/components/pages/home/sections/icons/icons-section.astro';
import NextIcon from '~/icons/logos/next-logo.svelte';
import NuxtIcon from '~/icons/logos/nuxt-logo.svelte';
import ReactIcon from '~/icons/logos/react-logo.svelte';
import SvelteIcon from '~/icons/logos/svelte-logo.svelte';
import TailwindIcon from '~/icons/logos/tailwind-logo.svelte';
import VueIcon from '~/icons/logos/vue-logo.svelte';
import AccessibilityIcon from '~astro-icons/lucide/accessibility';
import BlocksIcon from '~astro-icons/lucide/blocks';
import BookIcon from '~astro-icons/lucide/book';
import HeartHandshakeIcon from '~astro-icons/lucide/heart-handshake';
import PackageIcon from '~astro-icons/lucide/package';
import PaintBrushIcon from '~astro-icons/lucide/paintbrush';
import ShuffleIcon from '~astro-icons/lucide/shuffle';
import SquareStackIcon from '~astro-icons/lucide/square-stack';
import TvIcon from '~astro-icons/lucide/tv';
import WandSparklesIcon from '~astro-icons/lucide/wand-sparkles';

import AccessibilitySection from '~/components/pages/home/sections/accessibility/accessibility-section.astro';
import ComponentsSection from '~/components/pages/home/sections/components/components-section.astro';
import DesignSection from '~/components/pages/home/sections/design/design-section.svelte';
import FeaturesContentSection from '~/components/pages/home/sections/features/features-section.astro';
import LayoutSection from '~/components/pages/home/sections/layout/layout-section.astro';
import ProviderSection from '~/components/pages/home/sections/provider/provider-section.svelte';
import StateSection from '~/components/pages/home/sections/state/state-section.svelte';

import Button from '../components/button.svelte';
import { openSourceProjects } from '../components/pages/home/oss-projects';
import FeatureSection from '../components/sections/feature-section.astro';
import GridContent from '../components/sections/grid-content.astro';
import HeroSection from '../components/sections/hero-section.astro';
import TextGradient from '../components/text-gradient.svelte';
import DefaultLayout from '../layouts/default-layout.astro';
import AnnouncementBar from '../layouts/parts/announcement-bar.astro';
import SocialLink from '../layouts/parts/social-link.astro';

export const prerender = true;

const title = 'Vidstack Player',
  description = 'A collection UI components and hooks for building media players on the web.';
---

<DefaultLayout {title} {description}>
  <AnnouncementBar href="https://github.com/vidstack/player/discussions/1220" slot="announcement">
    Player: 1.0-RC
  </AnnouncementBar>

  <HeroSection>
    <Fragment slot="title">
      Build your <TextGradient>player.</TextGradient>
    </Fragment>

    <p slot="description">
      UI components and hooks for building media players on the web. Robust, customizable, and
      accessible.
    </p>

    <Fragment slot="cta">
      <Button arrow href="/docs/player" primary>Get Started</Button>
      <Button arrow href="/player/components" gradient>Components</Button>
    </Fragment>

    <Fragment slot="frameworks">
      <a
        class="rounded-md text-soft transition hocus:scale-105 hocus:text-[#00D8FF]"
        href="https://react.dev"
        aria-label="React"
        target="_blank"
      >
        <ReactIcon class="h-9 w-9" />
      </a>

      <a
        class="rounded-md text-soft transition hocus:scale-105 hocus:text-[#06B6D4]"
        href="https://tailwindcss.com"
        aria-label="Tailwind CSS"
        target="_blank"
      >
        <TailwindIcon class="h-11 w-11" />
      </a>

      <a
        class="rounded-md text-soft transition hocus:scale-105 hocus:text-inverse"
        href="https://nextjs.org"
        aria-label="Next.js"
        target="_blank"
      >
        <NextIcon class="h-9 w-9" />
      </a>

      <a
        class="rounded-md text-soft transition hocus:scale-105 hocus:text-green-500"
        href="https://vuejs.org/"
        aria-label="Vue"
        target="_blank"
      >
        <VueIcon class="h-8 w-8" />
      </a>

      <a
        class="rounded-md text-soft transition hocus:scale-105 hocus:text-lime-500"
        href="https://nuxt.com"
        aria-label="Nuxt"
        target="_blank"
      >
        <NuxtIcon class="h-11 w-11" />
      </a>

      <a
        class="rounded-md text-soft transition hocus:scale-105 hocus:text-red-500"
        href="https://svelte.dev"
        aria-label="Svelte"
        target="_blank"
      >
        <SvelteIcon class="h-8 w-8" />
      </a>
    </Fragment>
  </HeroSection>

  <FeatureSection title="Components." subtitle="Built to compose.">
    <BlocksIcon class="h-full w-full" slot="icon" />
    <Button arrow href="/player/components" gradient slot="cta">Discover More</Button>
    <ComponentsSection slot="content" />
  </FeatureSection>

  <FeatureSection title="Design." subtitle="Built to be styled.">
    <PaintBrushIcon class="h-full w-full" slot="icon" />
    <Button arrow href="/docs/player/styling/introduction" gradient target="_blank" slot="cta">
      Learn More
    </Button>
    <DesignSection slot="content" client:load />
  </FeatureSection>

  <FeatureSection title="Layouts." subtitle="Built to ship.">
    <PackageIcon class="h-full w-full" slot="icon" />
    <Button arrow href="/player/demo" gradient target="_blank" slot="cta">Try Demo</Button>
    <LayoutSection slot="content" />
  </FeatureSection>

  <FeatureSection title="Providers." subtitle="Built to adapt.">
    <TvIcon class="h-full w-full" slot="icon" />
    <Button
      arrow
      href="/docs/player/core-concepts/loading#providers"
      gradient
      target="_blank"
      slot="cta"
    >
      Learn More
    </Button>
    <ProviderSection slot="content" client:load />
  </FeatureSection>

  <FeatureSection title="State." subtitle="Built to be reactive.">
    <ShuffleIcon class="h-full w-full" slot="icon" />
    <Button
      arrow
      href="/docs/player/core-concepts/state-management"
      gradient
      target="_blank"
      slot="cta"
    >
      Learn More
    </Button>
    <StateSection slot="content" client:load />
  </FeatureSection>

  <FeatureSection title="Accessible." subtitle="Built for all.">
    <AccessibilityIcon class="h-full w-full" slot="icon" />
    <AccessibilitySection slot="content" />
  </FeatureSection>

  <FeatureSection title="Features." subtitle="Built to satisfy.">
    <WandSparklesIcon class="h-full w-full" slot="icon" />
    <FeaturesContentSection slot="content" />
  </FeatureSection>

  <FeatureSection title="Icons." subtitle="Built by us.">
    <SquareStackIcon class="h-full w-full" slot="icon" />
    <Button arrow href="/icons" gradient slot="cta">Discover More</Button>
    <IconsSection slot="content" />
  </FeatureSection>

  <FeatureSection title="Open Source." subtitle="Built transparently.">
    <BookIcon class="h-full w-full" slot="icon" />

    <Button arrow href="https://github.com/vidstack" gradient target="_blank" slot="cta">
      Follow on GitHub
    </Button>

    <GridContent label="Open-Source Projects" content={openSourceProjects} slot="content" />
  </FeatureSection>

  <FeatureSection title="Community." subtitle="Built for us.">
    <HeartHandshakeIcon class="h-full w-full" slot="icon" />

    <p slot="description">
      We're a community of frontend devs working with video & audio. Join in on the discussions,
      share your designs and knowledge, ask for help, and connect with others building awesome
      experiences.
    </p>

    <div class="flex w-full items-center justify-center" slot="cta">
      <SocialLink class="mr-4 768:mr-8" type="twitter" iconSize={40} />
      <SocialLink class="mr-4 768:mr-8" type="discord" iconSize={40} />
      <SocialLink type="gitHub" iconSize={40} />
    </div>
  </FeatureSection>
</DefaultLayout>
