.vds-radio {
  /* CSS variables available for customization (defaults shown). */
  --media-menu-item-bg: transparent;
  --media-menu-item-border-radius: 2px;
  --media-menu-item-border: 0;
  --media-menu-item-height: 40px;
  --media-menu-item-hover-bg: var(--color-gray-50);
  --media-menu-item-icon-size: 18px;
  --media-menu-item-icon-spacing: 6px;
  --media-menu-item-padding: 10px;
  --media-menu-radio-icon-color: var(--text-color);
}
