---
import clsx from 'clsx';

import type { SidebarFeatureItem } from '../../nav/sidebar-items';

interface Props {
  categories: SidebarFeatureItem[];
  activeCategory: string;
}

const { categories, activeCategory } = Astro.props;
---

<div class="categories">
  {
    categories?.map(({ title, href, Icon }) => (
      <a class="group -ml-1.5 mt-px flex items-center rounded-md px-2 py-1.5" {href}>
        {Icon && (
          <div
            class={clsx(
              'mr-2.5 flex items-center justify-center rounded-md border p-[5px]',
              'shadow-sm',
              title === activeCategory
                ? 'border-brand/20 bg-inverse/90 text-body'
                : 'border-border/90 bg-elevate text-soft/90 group-hocus:border-soft group-hocus:text-inverse',
            )}
          >
            <Icon class="h-3.5 w-3.5" />
          </div>
        )}

        <span
          class={clsx(
            title === activeCategory
              ? 'font-medium text-inverse'
              : 'text-soft/90 group-hocus:text-inverse',
          )}
        >
          {title}
        </span>
      </a>
    ))
  }
</div>
