/*************************************************************************************************
 * Submenu Button
 *************************************************************************************************/

.media-submenu-button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 10px;
  border-radius: 2px;
  color: white;
  /* Browser resets. */
  user-select: none;
  appearance: none;
  background: none;
  outline: none;
  border: none;
  touch-action: manipulation;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.media-submenu-button[data-open] {
  position: sticky;
  top: calc(-1 * 10px);
  left: 0;
  width: 100%;
  z-index: 10;
  backdrop-filter: blur(4px);
  border-radius: 0;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom: 1px solid rgb(245 245 245 /0.15);
  background-color: rgb(10 10 10 / 0.6);
}

.media-submenu-button[data-focus] {
  background-color: rgb(245 245 245 / 0.08);
}

.media-submenu-button[aria-disabled='true'],
.media-submenu-button[aria-hidden='true'] {
  display: none;
}

.media-submenu-button[data-open] .media-submenu-close-icon {
  display: inline-block;
}

.media-submenu-icon {
  width: 22px;
  height: 22px;
}

.media-submenu-button[data-open] .media-submenu-icon {
  display: none;
}

@media (hover: hover) and (pointer: fine) {
  .media-submenu-button:hover {
    cursor: pointer;
    background-color: rgb(245 245 245 / 0.08);
  }
}

.media-submenu-button:not([data-open]) .media-submenu-label {
  margin-left: 6px;
}

.media-submenu-close-icon {
  margin-right: 2px;
}

.media-submenu-open-icon,
.media-submenu-close-icon {
  width: 18px;
  height: 18px;
  display: none;
}

.media-submenu-hint,
.media-submenu-open-icon {
  margin-left: auto;
  color: rgb(245 245 245 / 0.5);
  font-size: 14px;
}

.media-submenu-hint:not(:empty) + .media-submenu-open-icon {
  margin-left: 2px;
}

.media-submenu-button:not([data-open]) .media-submenu-open-icon {
  display: inline-block;
}

/*************************************************************************************************
 * Submenu
 *************************************************************************************************/

.media-submenu {
  display: inline-block;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin-top: 12px;
}

.media-submenu[aria-hidden='true'] {
  display: none;
}

/*************************************************************************************************
 * Radio Group
 *************************************************************************************************/

.media-radio-group {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.media-radio {
  align-items: center;
  appearance: none;
  font-size: 14px;
  border-radius: 2px;
  contain: content;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  padding: 12px;
  position: relative;
  width: 100%;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.media-radio[data-focus] {
  background-color: rgb(245 245 245 / 0.08);
}

@media (hover: hover) and (pointer: fine) {
  .media-radio:hover {
    cursor: pointer;
    background-color: rgb(245 245 245 / 0.08);
  }
}

.media-radio-check {
  align-items: center;
  border-radius: 9999px;
  display: flex;
  width: 9px;
  height: 9px;
  border: 2px solid rgb(245 245 245 / 0.5);
  justify-content: center;
  margin-right: 8px;
}

.media-radio[data-checked] .media-radio-check {
  border: 2px solid var(--media-brand, #f5f5f5);
}

.media-radio[data-checked] .media-radio-check::after {
  content: '';
  border-color: #f5f5f5;
  background-color: #f5f5f5;
  border-radius: 9999px;
  height: 4px;
  width: 4px;
}
