---
import clsx from 'clsx';

import DateTime from './date-time.svelte';

interface Props {
  rows: { name: string; status: string }[];
}

const { rows } = Astro.props,
  cols = ['Name', 'Status', 'Preview', 'Updated'];
---

<div class="scrollbar overflow-x-auto">
  <table class="w-full">
    <thead>
      <tr>
        {
          cols.map((name) => (
            <th class="border-b border-r border-t border-border/90 px-2 py-1 text-start text-xs font-medium first:border-l">
              {name}
            </th>
          ))
        }
      </tr>
    </thead>
    <tbody>
      {
        rows.map((data) => (
          <tr class="whitespace-nowrap border border-border/90 text-xs">
            {Object.entries({
              ...data,
              preview: 'See in Dashboard',
              updated: '',
            }).map(([title, value]) => (
              <td
                class={clsx(
                  'border-r border-border/90 px-2 py-1 last:border-0',
                  title === 'preview' && 'text-brand',
                )}
              >
                {title === 'updated' ? <DateTime client:load /> : value}
              </td>
            ))}
          </tr>
        ))
      }
    </tbody>
  </table>
</div>
