---
import HTMLIcon from '~/icons/html-icon.svelte';
import JSIcon from '~/icons/js-icon.svelte';
import AngularLogo from '~/icons/logos/angular-logo.svelte';
import JSDelivrLogo from '~/icons/logos/jsdelivr-logo.svelte';
import ReactLogo from '~/icons/logos/react-logo.svelte';
import SolidLogo from '~/icons/logos/solid-logo.svelte';
import SvelteLogo from '~/icons/logos/svelte-logo.svelte';
import VueLogo from '~/icons/logos/vue-logo.svelte';

import CodeSnippet from './code-snippet.svelte';

const displayIcons = [
  { Icon: JSIcon, size: 38, framework: 'javascript' },
  { Icon: HTMLIcon, size: 38, framework: 'web-components' },
  { Icon: JSDelivrLogo, size: 34, framework: 'cdn' },
  { Icon: AngularLogo, size: 36, framework: 'angular' },
  { Icon: ReactLogo, size: 34, framework: 'react' },
  { Icon: SolidLogo, size: 34, framework: 'solid' },
  { Icon: SvelteLogo, size: 32, framework: 'svelte' },
  { Icon: VueLogo, size: 32, framework: 'vue' },
];
---

<div class="-mt-6 flex w-full items-center justify-center">
  <div class="mx-auto w-full max-w-[1200px]">
    <CodeSnippet client:visible />
    <div class="mt-12 flex flex-col">
      <div class="flex w-full flex-wrap items-center justify-center space-x-2">
        {
          displayIcons.map(({ Icon, size, framework }) => (
            <a
              class="rounded-md p-2 transition-transform duration-300 hocus:scale-110"
              href={`/docs/player/getting-started/installation/${framework}?bundler=none&provider=video&styling=default-layout`}
            >
              <Icon width={size} height={size} />
            </a>
          ))
        }
      </div>
    </div>
  </div>
</div>
