<div class="flex w-full items-center justify-center">
  Plyr/Default - JS/Angular/React/Svelte/Vue/Solid/WC/CDN - show setup
  <!-- <CodeSnippet id="home/default-layout" class="w-full max-w-3xl" numbered /> -->
</div>
