---
import Player from './player.svelte';
---

<div class="flex w-full items-center justify-center">
  <div class="mx-auto w-full max-w-[1200px]">
    <Player client:visible />
  </div>
  <!-- <CodeSnippet id="home/default-layout" class="w-full max-w-3xl" numbered /> -->
</div>
